In [18]:
#1
print('''Twinkle, twinkle, little star
    How I wonder what you are!
        Up above the world so high
        Like a diamond in the sky.
    Twinkle, twinkle, little star,
    How I wonder what you are''')

Twinkle, twinkle, little star
    How I wonder what you are!
        Up above the world so high
        Like a diamond in the sky.
    Twinkle, twinkle, little star,
    How I wonder what you are

In [24]:
#2
import sys
python_version = sys.version

print("Python version is :", python_version)

Python version is : 3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

In [26]:
#3
import datetime

datetimenow = datetime.datetime.now()
print(datetimenow)

2024-08-03 00:21:52.299582

In [38]:
#4
radius =input('Please input radius')

print ('area is' , 3.14*float(radius)*float(radius))

Please input radius 3

area is 28.259999999999998

In [42]:
#5
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

print(last_name + " " + first_name)

Enter your first name:  sarosh
Enter your last name:  Ahmed

Ahmed sarosh

In [50]:
#6
n1 =input('Please input first number')
n2 =input('Please input Second number')
print ('Sum is ', int(n1)+int(n2))

Please input first number 1
Please input Second number 2

Sum is  3

In [60]:
#7
marks1 =input('Please input English number')
marks2 =input('Please input Math number')
marks3 =input('Please input Urdu number')
Total =int (marks1)+int (marks2)+int (marks3)
print('Total marks are ', Total)

Please input English number 1
Please input Math number 2
Please input Urdu number 3

Total marks are  6

In [64]:
#8

number = int(input("Enter a number: "))

if number % 2 == 0:
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

Enter a number:  1

1 is an odd number.

In [68]:
#9

my_list = [1,200, 300, 400, 500]
list_length = len(my_list)
print("The length of the list is:", list_length)

The length of the list is: 5

In [70]:
#11

my_list = [180, 290, 4, 485, 1199]
largest_number = max(my_list)
print("The largest number in the list is:", largest_number)

The largest number in the list is: 1199

In [74]:
#12


a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,100,1,3]

for element in a:
    if element < 5:
        print(element)

1
1
2
3
1
3