In [1]:
import numpy as np

# Create two NumPy arrays
array1 = np.array([10, 20, 30, 40])
array2 = np.array([1, 2, 3, 4])

print("Array 1:", array1)
print("Array 2:", array2)

addition = array1 + array2
print("Addition:", addition)

subtraction = array1 - array2
print("Subtraction:", subtraction)

multiplication = array1 * array2
print("Multiplication:", multiplication)


division = array1 / array2
print("Division:", division)

Array 1: [10 20 30 40]
Array 2: [1 2 3 4]
Addition: [11 22 33 44]
Subtraction: [ 9 18 27 36]
Multiplication: [ 10  40  90 160]
Division: [10. 10. 10. 10.]

In [3]:
import numpy as np

# Create a sample NumPy array
array = np.array([10, 20, 30, 40, 50])

# Access specific elements
first_element = array[0]
third_element = array[2]

print("First Element:", first_element)  # Output: 10
print("Third Element:", third_element)  # Output: 30

First Element: 10
Third Element: 30

In [9]:

array_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])


element = array_2d[1, 2]
print("Element at (1, 2):", element)  # Output: 6


subset_2d = array_2d[0:2, 1:3]
print("Subset of 2D Array:", subset_2d)

Element at (1, 2): 6
Subset of 2D Array: [[2 3]
 [5 6]]

In [5]:

array_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])


element = array_2d[1, 2]
print("Element at (1, 2):", element)  # Output: 6


subset_2d = array_2d[0:2, 1:3]
print("Subset of 2D Array:", subset_2d)

Element at (1, 2): 6
Subset of 2D Array: [[2 3]
 [5 6]]

In [7]:

filtered = array[array > 20]
print("Elements greater than 20:", filtered)  # Output: [30 40 50]

Elements greater than 20: [30 40 50]

In [11]:
import numpy as np

# Create a 1D array with 6 elements
array = np.array([1, 2, 3, 4, 5, 6])


reshaped_array = array.reshape(2, 3)
print("Reshaped Array:\n", reshaped_array)


reshaped_3d_array = array.reshape(2, 1, 3)
print("3D Reshaped Array:\n", reshaped_3d_array)


matrix = np.array([[1, 2, 3], [4, 5, 6]])


transposed_matrix = matrix.T
print("Original Matrix:\n", matrix)
print("Transposed Matrix:\n", transposed_matrix)

Reshaped Array:
 [[1 2 3]
 [4 5 6]]
3D Reshaped Array:
 [[[1 2 3]]

 [[4 5 6]]]
Original Matrix:
 [[1 2 3]
 [4 5 6]]
Transposed Matrix:
 [[1 4]
 [2 5]
 [3 6]]

In [17]:
import numpy as np


data = np.array([10, 20, 30, 40, 50])


mean_value = np.mean(data)
print("Mean:", mean_value)

Mean: 30.0

In [15]:

median_value = np.median(data)
print("Median:", median_value)

Median: 30.0

In [19]:
# Calculate the standard deviation
std_deviation = np.std(data)
print("Standard Deviation:", std_deviation)

Standard Deviation: 14.142135623730951

In [21]:
# Calculate the variance
variance_value = np.var(data)
print("Variance:", variance_value)

Variance: 200.0

In [25]:
import numpy as np

# Integer array
int_array = np.array([1, 2, 3, 4, 5], dtype=int)
print("Integer Array:", int_array)

# Float array
float_array = np.array([1.1, 2.2, 3.3, 4.4, 5.5], dtype=float)
print("Float Array:", float_array)

# Boolean array
bool_array = np.array([True, False, True, False], dtype=bool)
print("Boolean Array:", bool_array)


# String array
str_array = np.array(['apple', 'banana', 'cherry'], dtype=str)
print("String Array:", str_array)

Integer Array: [1 2 3 4 5]
Float Array: [1.1 2.2 3.3 4.4 5.5]
Boolean Array: [ True False  True False]
String Array: ['apple' 'banana' 'cherry']

In [27]:
import numpy as np

# Two 1D arrays
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])

# Concatenate along axis 0 (default for 1D arrays)
result = np.concatenate((array1, array2))
print("Concatenated 1D array:", result)

Concatenated 1D array: [1 2 3 4 5 6]

In [29]:

array3 = np.array([[1, 2], [3, 4]])
array4 = np.array([[5, 6], [7, 8]])

# Concatenate along axis 0 (rows)
result_2d_rows = np.concatenate((array3, array4), axis=0)
print("Concatenated 2D array along rows:\n", result_2d_rows)

# Concatenate along axis 1 (columns)
result_2d_cols = np.concatenate((array3, array4), axis=1)
print("Concatenated 2D array along columns:\n", result_2d_cols)

Concatenated 2D array along rows:
 [[1 2]
 [3 4]
 [5 6]
 [7 8]]
Concatenated 2D array along columns:
 [[1 2 5 6]
 [3 4 7 8]]

In [31]:
import numpy as np


array = np.array([9, 3, 7, 1, 6])


sorted_array = np.sort(array)
print("Sorted array (ascending):", sorted_array)


# To sort in descending order, simply reverse the sorted array
sorted_desc_array = np.sort(array)[::-1]
print("Sorted array (descending):", sorted_desc_array)

# 2D array
array_2d = np.array([[9, 2, 7], [4, 8, 3], [5, 1, 6]])

# Sort each column (axis=0)
sorted_array_2d_columns = np.sort(array_2d, axis=0)
print("Sorted 2D array along columns:\n", sorted_array_2d_columns)

# Sort each row (axis=1)
sorted_array_2d_rows = np.sort(array_2d, axis=1)
print("Sorted 2D array along rows:\n", sorted_array_2d_rows)

Sorted array (ascending): [1 3 6 7 9]
Sorted array (descending): [9 7 6 3 1]
Sorted 2D array along columns:
 [[4 1 3]
 [5 2 6]
 [9 8 7]]
Sorted 2D array along rows:
 [[2 7 9]
 [3 4 8]
 [1 5 6]]

In [39]:
import pandas as pd

# Load CSV file
df_csv = pd.read_csv('data.csv')


print(df_csv.head())
print("")
print("====================================================")
print("")

# Load Excel file
df_excel = pd.read_excel('data.xlsx', sheet_name='Sheet1')


print(df_excel.head())
print("")
print("====================================================")
print("")




# Load JSON file
df_json = pd.read_json('data.json')


print(df_json.head())

    Name  Age    Country
0   John   28        USA
1   Anna   22     Canada
2  Peter   35    Germany
3  Linda   32  Australia
4  James   40         UK

====================================================

    Product  Price  Quantity
0    Laptop    800        10
1     Phone    600        15
2    Tablet    300        12
3   Monitor    200         8
4  Keyboard    100        25

====================================================

   EmployeeID Department  Salary
0         101      Sales   50000
1         102         HR   60000
2         103         IT   70000
3         104    Finance   55000
4         105  Marketing   62000

In [61]:
import pandas as pd

# Load data from a CSV file
df = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
print(df.head())
print("")
print("====================================================")
print("")


# Get the shape of the DataFrame
print("Shape of the DataFrame:", df.shape)

print("")
print("====================================================")
print("")

# Get the data types of the columns
print("Data types of each column:\n", df.dtypes)

print("")
print("====================================================")
print("")

# Check for missing values
print("Missing values in the DataFrame:\n", df.isnull().sum())

print("")
print("====================================================")
print("")
# Get a summary of the DataFrame
print("Summary of the DataFrame:")
df.info()

print("")
print("====================================================")
print("")

    Name   Age    Country
0   John  28.0        USA
1   Anna  22.0     Canada
2  Peter  35.0    Germany
3  Linda   NaN  Australia
4  James   NaN         UK

====================================================

Shape of the DataFrame: (5, 3)

====================================================

Data types of each column:
 Name        object
Age        float64
Country     object
dtype: object

====================================================

Missing values in the DataFrame:
 Name       0
Age        2
Country    0
dtype: int64

====================================================

Summary of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Age      3 non-null      float64
 2   Country  5 non-null      object
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes

====================================================

In [65]:
import pandas as pd

# Load the data
df = pd.read_csv('data.csv')

# Generate descriptive statistics
summary_stats = df.describe()

# Display the summary statistics
print(summary_stats)

           Age         Salary
count   4.0000       5.000000
mean   35.0000  361225.200000
std    14.3527  420685.613811
min    22.0000   12121.000000
25%    26.5000   77755.000000
50%    31.5000   78728.000000
75%    40.0000  758787.000000
max    55.0000  878735.000000

In [73]:
import pandas as pd


df = pd.read_csv('data.csv')


selected_columns = df[['Name', 'Age','Salary']]


print(selected_columns)

    Name   Age  Salary
0   John  28.0   78728
1   Anna  22.0  758787
2  Peter  35.0  878735
3  Linda  55.0   77755
4  James   NaN   12121

In [77]:
import pandas as pd


df = pd.read_csv('data.csv')
filtered_rows = df[df['Age'] > 50]

# Display the filtered rows
print(filtered_rows)

    Name   Age    Country  Salary
3  Linda  55.0  Australia   77755

In [81]:
import pandas as pd


df = pd.read_csv('data.csv')

# Select specific rows (index 0 to 3) and specific columns (column1 and column3)
subset = df.loc[0:2,['Name', 'Age','Salary']]

# Display the subset
print(subset)

    Name   Age  Salary
0   John  28.0   78728
1   Anna  22.0  758787
2  Peter  35.0  878735

In [89]:
import pandas as pd


df = pd.read_csv('data.csv')
subset = df.iloc[0:1, 0:2]

# Display the subset
print(subset)

   Name   Age
0  John  28.0

In [97]:
import pandas as pd


df = pd.read_csv('data.csv')
filtered_rows = df[(df['Age'] > 50) & (df['Salary'] < 870000)]

# Display the filtered rows
print(filtered_rows)

    Name   Age    Country  Salary
3  Linda  55.0  Australia   77755