In [6]:
# import important libraries
import pandas as pd
import sqlite3 as sql
conn = sql.connect("chin.db")
conn
def sql_query(q):
    return pd.read_sql_query(q, conn)

In [3]:
q = '''
    SELECT 
        iv.customer_id,
         CONCAT(c.first_name, ' ', c.last_name) AS full_name,
        iv.billing_country as country, 
       SUM(iv.total) AS top_buyer
    FROM 
        invoice as iv
        inner join customer as c
        on c.customer_id=iv.customer_id
    GROUP BY 
        iv.customer_id
    HAVING 
       top_buyer = (
            SELECT MAX(top_buyer_inner)
            FROM (
                SELECT  iv2.billing_country, iv2.customer_id, SUM(iv2.total) AS top_buyer_inner
                FROM  invoice as iv2
                GROUP BY 
                    iv2.customer_id, iv2.billing_country
            ) as inner_result
            WHERE inner_result.billing_country = iv.billing_country
        )
    ORDER BY 
        iv.billing_country
'''
sql_query(q)

    customer_id              full_name         country  top_buyer
0            56        Diego Gutiérrez       Argentina      39.60
1            55            Mark Taylor       Australia      81.18
2             7          Astrid Gruber         Austria      69.30
3             8           Daan Peeters         Belgium      60.39
4             1         Luís Gonçalves          Brazil     108.90
5             3      François Tremblay          Canada      99.99
6            57             Luis Rojas           Chile      97.02
7             5  František Wichterlová  Czech Republic     144.54
8             9           Kara Nielsen         Denmark      37.62
9            44       Terhi Hämäläinen         Finland      79.20
10           42           Wyatt Girard          France      99.99
11           37        Fynn Zimmermann         Germany      94.05
12           45        Ladislav Kovács         Hungary      78.21
13           58           Manoj Pareek           India     111.87
14           46          Hugh O'Reilly         Ireland     114.84
15           47          Lucas Mancini           Italy      50.49
16           48  Johannes Van der Berg     Netherlands      65.34
17            4           Bjørn Hansen          Norway      72.27
18           49       Stanisław Wójcik          Poland      76.23
19           34         João Fernandes        Portugal     102.96
20           50          Enrique Muñoz           Spain      98.01
21           51       Joakim Johansson          Sweden      75.24
22           17             Jack Smith             USA      98.01
23           53            Phil Hughes  United Kingdom      98.01

In [142]:
q = '''

WITH RankedBuyers AS (
    SELECT 
        iv.customer_id, 
        c.country,  
        SUM(iv.subtotal) AS top_buyer,
        ROW_NUMBER() OVER (PARTITION BY c.country ORDER BY SUM(iv.subtotal) DESC) AS rank
    FROM invoice AS iv
    INNER JOIN customer AS c ON c.customer_id = iv.customer_id
    GROUP BY iv.customer_id
)


SELECT customer_id, country, top_buyer
FROM RankedBuyers
WHERE rank = 1
ORDER BY country;







'''
sql_query(q)

    customer_id         country  top_buyer
0            56       Argentina      39.60
1            55       Australia      81.18
2             7         Austria      69.30
3             8         Belgium      60.39
4             1          Brazil     108.90
5             3          Canada      99.99
6            57           Chile      97.02
7             5  Czech Republic     144.54
8             9         Denmark      37.62
9            44         Finland      79.20
10           42          France      99.99
11           37         Germany      94.05
12           45         Hungary      78.21
13           58           India     111.87
14           46         Ireland     114.84
15           47           Italy      50.49
16           48     Netherlands      65.34
17            4          Norway      72.27
18           49          Poland      76.23
19           34        Portugal     102.96
20           50           Spain      98.01
21           51          Sweden      75.24
22           17             USA      98.01
23           53  United Kingdom      98.01

In [78]:
q = '''

SELECT 
    iv.customer_id,
    iv.billing_country,
    SUM(iv.total) AS top_buyer
FROM 
    invoice AS iv
GROUP BY 
    iv.customer_id

    '''

sql_query(q)

    customer_id billing_country  top_buyer
0             1          Brazil     108.90
1             2         Germany      82.17
2             3          Canada      99.99
3             4          Norway      72.27
4             5  Czech Republic     144.54
5             6  Czech Republic     128.70
6             7         Austria      69.30
7             8         Belgium      60.39
8             9         Denmark      37.62
9            10          Brazil      60.39
10           11          Brazil      69.30
11           12          Brazil      82.17
12           13          Brazil     106.92
13           14          Canada      29.70
14           15          Canada      66.33
15           16             USA      74.25
16           17             USA      98.01
17           18             USA      79.20
18           19             USA      54.45
19           20             USA      95.04
20           21             USA      91.08
21           22             USA      92.07
22           23             USA      66.33
23           24             USA      71.28
24           25             USA      76.23
25           26             USA      86.13
26           27             USA      84.15
27           28             USA      72.27
28           29          Canada      40.59
29           30          Canada      91.08
30           31          Canada      62.37
31           32          Canada      70.29
32           33          Canada      75.24
33           34        Portugal     102.96
34           35        Portugal      82.17
35           36         Germany      85.14
36           37         Germany      94.05
37           38         Germany      73.26
38           39          France      79.20
39           40          France      72.27
40           41          France      64.35
41           42          France      99.99
42           43          France      73.26
43           44         Finland      79.20
44           45         Hungary      78.21
45           46         Ireland     114.84
46           47           Italy      50.49
47           48     Netherlands      65.34
48           49          Poland      76.23
49           50           Spain      98.01
50           51          Sweden      75.24
51           52  United Kingdom      68.31
52           53  United Kingdom      98.01
53           54  United Kingdom      79.20
54           55       Australia      81.18
55           56       Argentina      39.60
56           57           Chile      97.02
57           58           India     111.87
58           59           India      71.28